each tweet, i in tweets
  div(class="tweet")
    div(class="tweet-content")
      div(class="twitter-header")
        img(src="#{tweet.profile_image_url}", class="twitter-profpic")
        a(href="https://twitter.com/#{tweet.from_user}")
          strong(class="twitter-realname")
            | #{tweet.from_user_name} 
          span(class="twitter-alias")
            | @#{tweet.from_user}
        small(class="twitter-time")
          | #{tweet.created_at}
      p(class="twitter-text")
        | #{tweet.text}